<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>Universidad Politécnica Salesiana</h1>

    <ion-card>
      <ion-card-header>
        <img src="../../assets/castlevania.png" alt="palacio madison" />
        
        <ion-card-title>Titulo Carta</ion-card-title>
        <ion-card-subtitle>Subtitulo Carta</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Contenido Carta
      </ion-card-content>
    </ion-card>
    <ion-grid class="bordes">
      <ion-row>
        <ion-col size="5">
          <div>
            1 of 3
          </div>
        </ion-col>
        <ion-col size="5">
          <div>
            2 of 3
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>


