<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (centerChange)="newAddress($event)">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icons.client"></agm-marker>

    <agm-marker [latitude]="centerLocation.latitude" [longitude]="centerLocation.longitude" [iconUrl]="icons.pointer"></agm-marker>

  </agm-map>

  {{centerLocation | json}}

</ion-content>
