<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ups-demo></ups-demo>
  <br>
  <h1>Firebase</h1>

  
    <div *ngFor="let contacto of contactos | async">
      <ion-item (click)="editar(contacto)">
        <ion-label>
          <ion-img style="width: 100px;margin: auto;"
          [src]="contacto.avatar?.url">
          </ion-img>
          <h2>{{ contacto.nombre }}</h2>
          <h3>{{ contacto.telefono }}</h3>
          <p>{{ contacto.direccion }}</p>
          <ion-button expand="block" (click)="llamar(contacto)">llamar</ion-button>
        </ion-label>
      </ion-item>
    </div>
    <h1>WildFly</h1>
    <div *ngFor="let contactoRest of contactosRest | async">
      <ion-item (click)="editar(contactoRest)">
        <ion-label>
          <h2>{{ contactoRest.codigo }} {{ contactoRest.nombre }}</h2>
          <h3>{{ contactoRest.numero }}</h3>
          <p>{{ contactoRest.direccion }}</p>
          <ion-button expand="block" (click)="llamar(contactoRest)">llamar</ion-button>
        </ion-label>
      </ion-item>
    </div>
</ion-content>

<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)="crear()">
    <ion-icon name="information-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="crearRest()">
    <ion-icon name="information-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>